.app-card {
  flex: 1;
  width: 200px;
  min-height: 159px;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.book-progress {
  background: #0049d7;
  color: white;
}

.bau {
  background: #0049d7;
  color: white;
}

.app-card h3 {
  color: hsl(0, 0%, 100%);
  font-family: "San Francisco", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.app-card p {
  color: white;
  opacity: 0.9;
  margin-top: 0;
}

.download-badge {
  display: block;
  width: 150px;
  margin: 1rem auto 0;
  margin-top: auto; /* Push to bottom */
}

.app-card a {
  margin-top: auto; /* Push link to bottom */
  display: block;
}